@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"); /*반응형 화면 크기*/
/*반응형, 브라우저 크기가 767px 이하일때*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1025px 이상일때*/
@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-Light.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Praetendard";
  src: url(../font/Pretendard-Bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Hellix";
  src: url(../font/Hellix-SemiBold.woff2) format("woff2");
  font-weight: 400;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: 1px;
}

.inner {
  padding: 0 5%;
}

.bouble-list {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bouble-list .bouble-item {
  position: absolute;
  z-index: 2;
  opacity: 0;
}
.bouble-list .bouble-item .wrap {
  pointer-events: none;
  border-radius: 120px;
  width: 240px;
  height: 240px;
  border: 2px solid #e3e0db;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1;
  transition: color 300ms, background 300ms;
}
@media (max-width: 1440px) {
  .bouble-list .bouble-item .wrap {
    width: 210px;
    height: 210px;
  }
}
.bouble-list .bouble-item:hover .wrap {
  background: #e3e0db;
  color: #1c1f24;
}
.bouble-list .bouble-item .bouble {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.bouble-list .bouble-item .bouble .text {
  font-size: 25px;
  text-align: center;
}

body.lightmode .container {
  color: #1c1f24;
  background: #ededed;
}
body.lightmode .sc-header::after {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
body.lightmode .sc-header .logo a {
  color: #1c1f24;
}
body.lightmode .sc-header .btn-area span {
  background: #1c1f24;
}
body.lightmode .sc-intro .plan-area .number span {
  border-color: #1c1f24;
}
body.lightmode .sc-intro .plan-area::after {
  background: #1c1f24;
}
body.lightmode .sc-data .underline {
  background-color: #1c1f24;
}
body.lightmode .sc-portfolio .portfolio-item .underline {
  background: #1c1f24 !important;
}
body.lightmode .sc-portfolio .portfolio-item .portfolio .hash span {
  border: 2px solid #1c1f24;
}
body.lightmode .sc-advantages .underline {
  background: #1c1f24;
}
body.lightmode .sc-side {
  background: #e3e0db;
  color: #1c1f24;
}
body.lightmode .bouble-item .wrap {
  border-color: #1c1f24;
}
body.lightmode .bouble-item:hover .wrap {
  background: #1c1f24;
  color: #e3e0db;
}

body.noscroll {
  overflow-y: hidden;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Hellix", "Pretendard", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.sc-header {
  transform: translateY(-100%);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
@media (max-width: 767px) {
  .sc-header {
    height: 70px;
  }
}
.sc-header::after {
  content: "";
  pointer-events: none;
  height: 300px;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 199, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
@media (max-width: 767px) {
  .sc-header::after {
    height: 70px;
  }
}
.sc-header .logo {
  display: block;
}
@media (max-width: 767px) {
  .sc-header .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.sc-header .logo a {
  display: block;
  font-size: 40px;
  color: #fff;
}
@media (max-width: 767px) {
  .sc-header .logo a {
    font-size: 33px;
  }
}
.sc-header .btn-area {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .sc-header .btn-area {
    position: initial;
    transform: translate(0, 0);
    width: 40px;
    height: 40px;
  }
}
.sc-header .btn-area.on {
  visibility: visible;
}
.sc-header .btn-area.on .line.top {
  left: 0;
}
.sc-header .btn-area.on .line.bottom {
  right: 0;
}
.sc-header .btn-area.on .cross {
  transition: left 300ms, right 300ms, top 300ms;
}
.sc-header .btn-area.on .cross.left {
  transition-delay: 600ms;
  left: 50%;
  top: 50%;
}
.sc-header .btn-area.on .cross.right {
  transition-delay: 900ms;
  right: 50%;
  top: 50%;
}
.sc-header .btn-area .line {
  transition: left 300ms, right 300ms, visibility 1ms 300ms;
  display: block;
  position: absolute;
  width: 100%;
  background: #e3e0db;
  height: 2px;
}
.sc-header .btn-area .line.top {
  left: -25px;
  top: 25px;
}
@media (max-width: 767px) {
  .sc-header .btn-area .line.top {
    left: -15px;
  }
}
.sc-header .btn-area .line.bottom {
  right: -25px;
  bottom: 25px;
}
@media (max-width: 767px) {
  .sc-header .btn-area .line.bottom {
    right: -15px;
  }
}
.sc-header .btn-area .cross {
  transition: left 600ms, right 600ms, top 600ms, visibility 1ms 600ms;
  position: absolute;
  width: 2px;
  height: 100px;
  background: #e3e0db;
  transform-origin: left top;
}
.sc-header .btn-area .cross.left {
  transform-origin: left top;
  transform: rotate(-45deg) translate(-50%, -50%);
  left: -50%;
  top: -50%;
}
.sc-header .btn-area .cross.right {
  transform-origin: right top;
  transform: rotate(45deg) translate(50%, -50%);
  right: -50%;
  top: -50%;
}
.sc-header .btn-darkmode {
  width: 40px;
  height: 40px;
  transition: background 300ms;
  background: url("../images/moon.png") center/contain no-repeat;
}
.sc-header .btn-darkmode.off {
  background: url("../images/sun.png") center/contain no-repeat;
}

.sc-side {
  position: fixed;
  top: 0;
  left: 0;
  background: #1c1f24;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #e3e0db;
  padding: 0 5%;
  visibility: hidden;
  opacity: 0;
  transition: 500ms;
}
.sc-side.on {
  visibility: visible;
  opacity: 1;
}
.sc-side .group-index {
  position: absolute;
  left: 50%;
  top: 170px;
}
.sc-side .group-index .index-name {
  position: relative;
  padding: 20px 0;
  font-size: 5vw;
  font-weight: 600;
  display: block;
  transition: color 450ms;
}
.sc-side .group-index .index-name:hover {
  color: #6c6d6e;
}
.sc-side .group-index .index-name .underline {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #e3e0db;
  bottom: 0;
  left: 0;
}

.gauge {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  /* background:rgba(255,255,255,0.2); */
  z-index: 10;
}

.gauge .curr {
  width: 0;
  display: block;
  height: 100%;
  background: #fff;
  /* border-radius: 0px 4px 4px 0; */
}

.container {
  transition: color 300ms, background 300ms;
  color: #e3e0db;
  background: #1c1f24;
}

.sc-visual {
  height: 100vh;
  position: relative;
}
.sc-visual .group-text {
  width: 100%;
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.sc-visual .group-text .text-box {
  overflow: hidden;
}
.sc-visual .group-text .text-box:nth-of-type(3) {
  text-align: right;
}
.sc-visual .group-text .text-box .text {
  font-weight: 500;
  font-size: 9.375vw;
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
}
.sc-visual .group-text .text-box .text.ml {
  padding-left: 20px;
}
@media (max-width: 767px) {
  .sc-visual .bouble-list .bouble-item .wrap {
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 767px) {
  .sc-visual .bouble-list .bouble-item .text {
    font-size: 18px;
  }
}
.sc-visual .bouble-list .bouble-item:nth-of-type(1) {
  top: 53%;
  left: 15%;
}
@media (max-width: 1024px) {
  .sc-visual .bouble-list .bouble-item:nth-of-type(1) {
    left: 0;
    top: 50%;
  }
}
@media (max-width: 767px) {
  .sc-visual .bouble-list .bouble-item:nth-of-type(1) {
    left: 0;
    bottom: 24%;
    top: initial;
  }
}
.sc-visual .bouble-list .bouble-item:nth-of-type(2) {
  top: 20%;
  left: 50%;
}
@media (max-width: 1024px) {
  .sc-visual .bouble-list .bouble-item:nth-of-type(2) {
    left: 40%;
    top: 30%;
  }
}
@media (max-width: 767px) {
  .sc-visual .bouble-list .bouble-item:nth-of-type(2) {
    left: 35%;
    top: 14%;
  }
}
.sc-visual .bouble-list .bouble-item:nth-of-type(3) {
  bottom: 14%;
  right: 7%;
}
@media (max-width: 1024px) {
  .sc-visual .bouble-list .bouble-item:nth-of-type(3) {
    right: 0;
    bottom: 25%;
  }
}
@media (max-width: 767px) {
  .sc-visual .bouble-list .bouble-item:nth-of-type(3) {
    right: 0;
    bottom: 15%;
  }
}

.sc-intro {
  margin-top: 150px;
}
@media (max-width: 767px) {
  .sc-intro .group-intro {
    padding-bottom: 33px;
    position: relative;
  }
}
.sc-intro .group-intro .tag {
  font-size: 18px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .sc-intro .group-intro .tag {
    display: none;
  }
}
.sc-intro .group-intro .plan-area {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 30px;
}
.sc-intro .group-intro .plan-area::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #e3e0db;
  left: 0;
  bottom: 0;
}
.sc-intro .group-intro .plan-area .number {
  margin-top: 20px;
  font-size: 30px;
}
.sc-intro .group-intro .plan-area .number span {
  padding: 3px 20px;
  border: 2px solid #e3e0db;
  border-radius: 50px;
}
.sc-intro .group-intro .plan-box .plan .sub-title {
  font-size: 6.25vw;
  font-weight: 500;
}
@media (max-width: 767px) {
  .sc-intro .group-intro .plan-box .plan .sub-title {
    font-size: 40px;
  }
}
.sc-intro .desc {
  margin-top: 50px;
  font-size: 2.15vw;
  font-weight: 500;
  width: 66.6666666667%;
}
@media (max-width: 767px) {
  .sc-intro .desc {
    font-size: 25px;
    line-height: 30px;
    width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .sc-intro .desc.off {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.sc-intro .mobile-more {
  display: none;
  border: none;
  outline: none;
  background: transparent;
  color: rgb(168, 168, 168);
  margin-top: 15px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .sc-intro .mobile-more {
    display: block;
  }
}

.sc-data {
  margin-top: 310px;
  height: 90vh;
  width: 100%;
}
.sc-data .data-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 130px;
}
@media (max-width: 1440px) {
  .sc-data .data-list {
    gap: 0 130px;
  }
}
@media (max-width: 1024px) {
  .sc-data .data-list {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .sc-data .data-list {
    height: 90%;
  }
}
.sc-data .data-item {
  width: calc((100% - 260px) / 3);
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (max-width: 1024px) {
  .sc-data .data-item {
    width: calc((100% - 20px) / 2);
  }
}
@media (max-width: 1024px) {
  .sc-data .data-item:nth-child(7) {
    display: none;
  }
}
.sc-data .data-item .count-box {
  position: relative;
}
.sc-data .data-item .count-box strong {
  font-size: 6.864vw;
  font-weight: 500;
}
@media (max-width: 767px) {
  .sc-data .data-item .count-box strong {
    font-size: 45px;
  }
}
.sc-data .data-item .count-box .unit {
  font-size: 6.864vw;
}
@media (max-width: 767px) {
  .sc-data .data-item .count-box .unit {
    font-size: 45px;
  }
}
.sc-data .data-item .desc {
  font-size: 1.2375vw;
  margin-top: 15px;
  line-height: 1.5;
}
@media (max-width: 1440px) {
  .sc-data .data-item .desc {
    font-size: 2.4375vw;
  }
}
@media (max-width: 767px) {
  .sc-data .data-item .desc {
    font-size: 17px;
    margin-top: 5px;
  }
}
.sc-data .data-item .desc.center {
  font-size: 4.564vw;
  line-height: 1;
}
@media (max-width: 767px) {
  .sc-data .data-item .desc.center {
    font-size: 25px;
  }
}
.sc-data .data-item .underline {
  width: 100%;
  height: 2px;
  background: #e3e0db;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .sc-data .data-item .underline {
    margin-top: 15px;
  }
}

.sc-portfolio {
  overflow: hidden;
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  position: relative;
}
.sc-portfolio .main-title {
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  .sc-portfolio .main-title {
    font-size: 28px;
  }
}
.sc-portfolio .main-title .title {
  display: inline-block;
}
.sc-portfolio .group-portfolio {
  width: 100%;
  padding-top: 80px;
}
.sc-portfolio .portfolio-list {
  width: 100%;
  position: relative;
}
@media (max-width: 767px) {
  .sc-portfolio .portfolio-list {
    display: none;
  }
}
.sc-portfolio .portfolio-list .portfolio-item {
  padding: 30px 0 10px;
  position: relative;
}
.sc-portfolio .portfolio-list .portfolio-item:hover .sub-title {
  color: #7f807f;
}
.sc-portfolio .portfolio-list .portfolio-item:hover .img-box {
  opacity: 1;
  visibility: visible;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.sc-portfolio .portfolio-list .portfolio-item .portfolio {
  display: block;
  justify-content: space-between;
  align-items: flex-end;
  padding: 25px 0;
}
.sc-portfolio .portfolio-list .portfolio-item .portfolio .sub-title {
  transition: color 300ms;
  font-size: 80px;
  font-weight: 600;
}
.sc-portfolio .portfolio-list .portfolio-item .portfolio .arrow {
  width: 36px;
  height: 36px;
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
}
.sc-portfolio .portfolio-list .portfolio-item .portfolio .arrow img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.sc-portfolio .portfolio-list .portfolio-item .portfolio .hash {
  padding: 20px 0;
  display: flex;
  gap: 10px;
}
.sc-portfolio .portfolio-list .portfolio-item .portfolio .hash span {
  transition: color 300ms;
  border: 2px solid #fff;
  padding: 5px 8px;
  border-radius: 20px;
}
.sc-portfolio .portfolio-list .portfolio-item .portfolio .hash span:hover {
  color: #7f807f;
}
.sc-portfolio .portfolio-list .portfolio-item .link-note {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.sc-portfolio .portfolio-list .portfolio-item .link-note img {
  width: 100%;
}
.sc-portfolio .portfolio-list .portfolio-item .line-box {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
}
.sc-portfolio .portfolio-list .portfolio-item .line-box .underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #e3e0db;
}
.sc-portfolio .portfolio-list .portfolio-item .img-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 80px;
  height: 884px;
  width: 496px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  -webkit-clip-path: polygon(0 46%, 100% 46%, 100% 54%, 0 53%);
          clip-path: polygon(0 46%, 100% 46%, 100% 54%, 0 53%);
  z-index: 2;
  border: 2px solid rgba(160, 160, 160, 0.5);
}
@media (max-width: 1440px) {
  .sc-portfolio .portfolio-list .portfolio-item .img-box {
    height: 600px;
    width: 337px;
  }
}
@media (max-width: 1024px) {
  .sc-portfolio .portfolio-list .portfolio-item .img-box {
    width: 100%;
    bottom: 0;
    left: 0;
    top: initial;
    transform: translateY(100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}
.sc-portfolio .portfolio-list .portfolio-item .img-box a {
  display: block;
  height: 100%;
}
.sc-portfolio .portfolio-list .portfolio-item .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-portfolio .portfolio-list .upline {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 100%;
  background: #e3e0db;
}
.sc-portfolio .swiper {
  width: calc(100% - 120px);
  display: none;
}
@media (max-width: 767px) {
  .sc-portfolio .swiper {
    display: block;
  }
}
.sc-portfolio .m-portfolio-list .m-portfolio-item {
  border-radius: 13px;
  position: relative;
}
.sc-portfolio .m-portfolio-list .m-portfolio-item:nth-of-type(1) .portfolio-box {
  background: url("../images/portfolio-spaceX.jpg") center top/cover no-repeat;
}
.sc-portfolio .m-portfolio-list .m-portfolio-item:nth-of-type(2) .portfolio-box {
  background: url("../images/portfolio-daelim.jpg") center top/cover no-repeat;
}
.sc-portfolio .m-portfolio-list .m-portfolio-item:nth-of-type(3) .portfolio-box {
  background: url("../images/portfolio-kptech.jpg") center top/cover no-repeat;
}
.sc-portfolio .m-portfolio-list .m-portfolio-item:nth-of-type(4) .portfolio-box {
  background: url("../images/portfolio-cgv.jpg") center top/cover no-repeat;
}
.sc-portfolio .m-portfolio-list .m-portfolio-item:nth-of-type(5) .portfolio-box {
  background: url("../images/portfolio-seoul.jpg") center top/cover no-repeat;
}
.sc-portfolio .m-portfolio-list .m-portfolio-item:nth-of-type(6) .portfolio-box {
  background: url("../images/portfolio-naver.jpg") center top/cover no-repeat;
}
.sc-portfolio .m-portfolio-list .m-portfolio-item .portfolio-box {
  display: block;
  height: 60vh;
}
.sc-portfolio .m-portfolio-list .m-portfolio-item .portfolio-box::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.sc-portfolio .m-portfolio-list .m-portfolio-item .portfolio-box .sub-title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  font-weight: 600;
  z-index: 2;
}
.sc-portfolio .m-portfolio-list .m-portfolio-item .link-velog {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  z-index: 2;
}
.sc-portfolio .m-portfolio-list .m-portfolio-item .link-velog img {
  width: 100%;
  height: 100%;
}
.sc-portfolio .group-thumbnail {
  height: 707px;
  width: 460px;
  overflow: hidden;
}
.sc-portfolio .group-thumbnail .bg-area {
  transition: background 300ms;
  width: 100%;
  height: 100%;
  background: url("../images/portfolio-spaceX.jpg") center/cover no-repeat;
  display: block;
}

.sc-advantages {
  margin-top: 300px;
  position: relative;
  padding-bottom: 700px;
}
@media (max-width: 1024px) {
  .sc-advantages {
    padding-bottom: 400px;
  }
}
.sc-advantages .main-title {
  font-size: 18px;
}
@media (max-width: 767px) {
  .sc-advantages .main-title {
    font-size: 28px;
  }
}
.sc-advantages .advantages-list {
  margin-top: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sc-advantages .advantages-item {
  width: calc((100% - 30px) / 2);
  display: flex;
  padding-bottom: 15px;
  position: relative;
  margin-top: 35px;
  z-index: 1;
}
@media (max-width: 1024px) {
  .sc-advantages .advantages-item {
    width: 100%;
  }
}
.sc-advantages .advantages-item .number {
  font-size: 20px;
}
.sc-advantages .advantages-item .desc {
  font-size: 1.6vw;
  margin-left: 20px;
}
@media (max-width: 1024px) {
  .sc-advantages .advantages-item .desc {
    font-size: 3.2vw;
  }
}
@media (max-width: 767px) {
  .sc-advantages .advantages-item .desc {
    font-size: 20px;
    line-height: 23px;
  }
}
.sc-advantages .advantages-item .underline {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #e3e0db;
  bottom: 0;
  left: 0;
}
.sc-advantages .bouble-item {
  left: 50%;
  bottom: 300px;
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .sc-advantages .bouble-item {
    bottom: 100px;
  }
}
.sc-advantages .bouble-item:hover {
  transform: translateX(-50%) scale(1.13);
}