@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-Light.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Praetendard";
  src: url(../font/Pretendard-Bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Hellix";
  src: url(../font/Hellix-SemiBold.woff2) format("woff2");
  font-weight: 400;
}